.site-standard{font-family:century gothic}

.body{background:#D0C8FA;border:solid 5px #30007C;padding:10px}

.body-main{position:relative}
@media only screen and (min-width:1200px) {.body-main{width:1200px;left:50%;margin-left:-600px}}

a:link{color:#AA73EC}
a:visited{color:#E0C8FF}
a:hover{color:#FFFFFF}

.img-link{height:30px;vertical-align:center;border:solid 3px #EFE0DD;margin:3px}


.h1{font-size:48pt;margin:20px;font-weight:bold;text-align:center;top:10px;font-family:Juice ITC;color:#FFFFFF}

.h2{font-size:20pt;margin:14px;font-weight:bold;text-align:center;color:#30007C}

.h3{font-size:12pt;margin:4px;font-weight:bold;text-align:center}

.h4{font-size:12pt;margin:15px;text-align:left;font-weight:bold;color:#30007C}

.h5{font-size:12pt;margin:15px;text-align:left;color:#30007C}

.body-text{font-size:12pt;margin:30px;margin-left:10%;margin-right:10%;text-align:left}


.article-box{background:#FFF0ED;margin:15px;padding:10px;border:solid 5px #EFE0DD;margin-left:10%;margin-right:10%}

.article-text{font-size:11pt;font-family:courier new;color:#000000;vertical-align:text-center}


.transcript-box{background:#FFF0ED;width:65%;padding:40px;border:solid 5px #EFE0DD;margin:auto;font-family:courier new;color:#000000;vertical-align:text-center}

.post-nav {margin:0;display:flex;justify-content:space-between;font-size:10pt}
.post-nav .previous {text-align:left;margin-right:0.4rem;margin:0;width:50%}
.post-nav .next {text-align:right;margin-left:0.4rem;margin:0;width:50%}

.post-text {margin:0;display:flex;justify-content:space-between;font-size:12pt}
.post-text .previous {text-align:left;margin-right:0.4rem;margin:0;width:50%}
.post-text .next {text-align:right;margin-left:0.4rem;margin:0;width:50%}

.t-t{font-size:12pt;margin:5%;margin-top:0px;font-family:courier new;color:#000000;vertical-align:text-center}

.t-h{font-size:12pt;margin-top:30px;font-weight:bold}

.t-c{text-align:center;font-size:16pt;font-weight:bold;margin:10px}

.t-d{text-align:center;font-size:10pt}


.t-sidenav{position:absolute;width:10%;right:0px;border:double 3px #E0C8FF;background:#000;padding:15px;color:#AA73EC;text-align:right}
@media only screen and (max-width:600px) {.t-sidenav{position:static;width:80%;margin:10px 10px 20px 0:right:10px}}


.episode-box{background:#FFF0ED;margin:10px;padding:5px;border:solid 3px #EFE0DD;width:55%;margin-left:10%;color:#000000}
@media only screen and (max-width:600px) {.episode-box{position:static;width:80%;margin:auto;margin-top:10px}}

.episode-text{font-size:11pt;font-family:courier new;margin:15px 10px 5px 10px;color:#000000;margin-left:5%}

.transcript-link{font-size:8pt;font-family:courier new;margin:0 10px 10px 10px;color:#000000;margin-left:7%}


.top-box{background:url(backer4.png) center;border:double 3px #E0C8FF;color:#AA73EC}

.box-text{font-size:12pt;margin:20px;text-align:center}
@media only screen and (max-width:600px) {.box-text{font-size:16pt;margin:10pt}}


.bottom-box{background:#000000;border:double 3px #E0C8FF;color:#FFFFFF}

.bottom-text{font-size:10pt;margin:6px;text-align:center}


.sidenav{position:absolute;width:20%;margin-right:5%;right:0px;border:double 3px #E0C8FF;background:#000;padding:15px;color:#AA73EC;text-align:right}
@media only screen and (max-width:600px) {.sidenav{position:static;width:80%;margin:auto}}

.banner{border:double 3px #E0C8FF;background:#30007C;padding:15px;color:#E0C8FF;text-align:center}

.picture{width:30%;height:auto;display:block;margin-left:auto;margin-right:auto;border:solid 3px #AA73EC}


TABLE.datadisplaytable {border-bottom: 0px solid;border-left: 0px solid;border-right: 0px solid;border-top: 0px solid;}
.captiontext {font-weight: bold;font-size: 90%; font-style: italic; text-align: left;margin-top: 1em;}
TABLE TH.ddlabel {background-color: #EFE0DD;font-weight: bold; font-size: 90%;text-align: left;vertical-align: top;}
TABLE TD.dddefault {font-size: 90%; text-align: left; vertical-align: top; border-bottom: 1pt #BFBFBF solid;}
TABLE TH.ddheader {background-color: #EFE0DD;font-weight: bold;font-size: 90%;   text-align: left;vertical-align: top;}

TABLE TD.ddlabel {background-color: #EFE0DD;,font-weight: bold;font-size: 90%;vertical-align: top;}
